.url_record__col {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 330px;
  text-align: left;
}

.ant-table-cell .url-record__row-btn {
  padding: 0;
}

.ant-empty.ant-empty-normal {
  margin: 0;
}
